body {
  background-color: #f6e5ff;
  font-family: 'Poiret One', cursive;
}
.card{ 
  border-radius: 20px;
  width: 15%;
  height: 400px;
  margin: 50px auto;
  background: linear-gradient(35deg,#FACF, #FFCCCC);
}
.card-topic{
  margin-top: 5px;
  text-align: center;
}

#nav-bar{
 background-color: #FFFFFF;
 width: 100%;
 positon: absolute;
 top: 0px;
 left: 0px;
  
}
